<ul class="dropdown-mobile-admin">
  <li><span (click)="toggleNavMobile()"><i class="fa fa-bars"></i></span></li>
</ul>
<div id="nav" [ngClass]="navMobile" class="clearfix">
  <div class="container">
    <ul>
      <li><a routerLink="/admin" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="add-post" routerLinkActive="router-link-active">Add Post</a></li>
      <li><a routerLink="edit-posts" routerLinkActive="router-link-active">Edit Posts</a></li>
      <li><a routerLink="add-category" routerLinkActive="router-link-active">Add Category</a></li>
      <li><a routerLink="edit-categories" routerLinkActive="router-link-active">Edit Categories</a></li>
      <li class="float-right"><a (click)="logout()"><i class="fa fa-sign-out mr-2"></i>Logout</a></li>
    </ul>
  </div>
</div>
