<div class="row mb-5">
  <div class="col-lg-12">
    <app-picture [src]="post.coverImage" [routerLink]="['/posts', post.slug]"></app-picture>
  </div>
  <div class="col-lg-12">
    <h3 class="post-title" [routerLink]="['/posts', post.slug]">
      <i class="fa fa-newspaper-o mr-3"></i>{{ post.title | ucwords }}</h3>
    <h5 [routerLink]="['/categories', post.category.slug]" class="category">
      <span>
        <i class="fa fa-dot-circle-o mr-2"></i>{{ post.category.name | ucwords }}</span>
    </h5>
    <p class="summary">
      {{ post.summary | capitalize }}
    </p>
    <div class="row">
      <div class="col-lg-8">
        <p class="tags">
          <span *ngFor="let tag of post.tags" [routerLink]="['/tags', tag]">
            <i class="fa fa-hashtag mr-2"></i>{{ tag | ucwords }}</span>
        </p>
        <p class="time">By {{ post.author | ucwords }} On {{ post.publishDate | date:'medium' }}
          <i class="fa fa-clock-o ml-3"></i>
        </p>
      </div>
      <div class="col-lg-4">
        <button class="btn-post" [routerLink]="['/posts', post.slug]">Continue Reading</button>
      </div>
    </div>
    <hr>
  </div>
</div>
